<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    </h:head>
    <h:body>
        <h:form>
        <h:outputLabel  value="Input a numbers:" for="input"></h:outputLabel>
        <!-- Input field binds to backing field in the model-->
        <h:inputText value="#{formModel.number}" id="input" required="true">
            
        </h:inputText>
        <!--Form submit button, invoking validation method in the model-->
        <h:commandButton value="Validate" action="#{formModel.validate}"></h:commandButton>
        </h:form>
    </h:body>

</html>
